h1,
.h1,
footer h2{
    font-family: 'EB Garamond', serif !important; 
}

.icon{
    width: 2rem;
}

.nav_brand{
    color: #414040;
    font-weight: 800;
}
.banner{
    background-image: url('../images/banner.png'),linear-gradient(-180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
    background-blend-mode:overlay;
    background-position-x: center;
    background-position-y: center;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.flex-col{
    display: flex;
}
.large{
    font-size: 4rem;
}
.img_legal_prac{
    width: 25%;
}
.carousel_img{
    width: 10%;
}
.gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17, 17, 17, 0.364),rgba(0, 0, 0, 0.523))
}
.accordion-button{
    background-color: #F3F3F3;
}
.accordion-item{
    background-color: #F3F3F3;
}
.send{
    position: relative;
    right: 1rem;
}
ul>li{
    list-style: none;
    padding-top: 10px;
}
/* media query */
@media only screen and (max-width:768px){
    .flex-col{
        flex-direction: column;
    }
    .send{
        max-width:25 ;
    }
}